 # Ignore artifacts:
build
coverage

# Ignore all extension files:
*.html
*.yaml
# *.md
*.jpg
*.png


# Ignore all folder con extensions
**/.git
**/.svn
**/.hg

# Ignore all folder:
**/node_modules
**/target
**/test
**/bin
**/lib

# .vscode
